<head>
    <title>Forever23YearsOld</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no, user-scalable=0">
</head>
<body>
    <div id="app" class="app-container">
    </div>
</body>
