@import 'scss/login';

body {
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.app-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
